.wrapper{
  max-width: 1920px;
  margin: 0 auto;
}

.container{
  max-width: 1596px;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.btn{
  display: inline-block;
  font-family: $primary-font;
  font-weight: 600;
  line-height: 1;
  height: 46px;
  padding: 11px 30px;
  border-radius: 10px;
  color: $black;
  border: none;
  width: max-content;
}