$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Unbounded', sans-serif;
$primary-color: #8AA3A0;
$gray: #E0E2E4;
$white: #FFFFFF;
$black: #1C1A1B;
$egg: #E6E1DB;
$gray-black: #333333;
$background: #F7F7F7;